<h1><%= @shop.name %></h1>

<div class = "container">
  <div class="shop-image">
  <% if @shop.image.present? %>
  <%= image_tag @shop.image.url, alt: @shop.image, :size => "555x370" %>
  <% else %>
  <%= image_tag "878520.jpg", alt: @shop.image, :size => "555x370" %>
  <% end %>
  </div>
  <h3 style="text-align: center;"><%= "「#{@shop.name}」へのコメント" %></h3>
  <br>
  <% if @comments.any? %>
  <% @comments.each do |comment| %>
  <div class="comments">
  <p class = "comment-content">
  <%= comment.content %>
  </p>
  <span class="comment-timestamp">
    投稿者 <%= link_to " :#{comment.user.name}", user_path(comment.user) %>
    | <%= time_ago_in_words(comment.created_at) %>前
    <% if current_user?(comment.user) %>
      <%= link_to "削除", comment, method: :delete,
                                       data: { confirm: "本当に削除して良いですか？" } %>
    <% end %>
  </span>
  <div style="clear: both"></div>
  </div>
  <% end %>
  <% end %>
  <% if logged_in? %>
  <div class="field">
  <%= form_for(@comment) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div><%= hidden_field_tag :shop_id, @shop.id %></div>
        <%= f.text_area :content, size: "10x5", class: "form-control", placeholder: "400字以内で入力してください。" %>
      <%= f.submit "投稿する", class: "btn btn-info" %>
  <% end %>
  </div>
  <% end %>
  
  <h3>店舗情報</h3>
  <div class="shop-info">
  <table>
    <tr>
      <th>店舗名</th>
      <td><%= @shop.name %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @shop.adress %></td>
    </tr>
    <tr>
      <th>エリア</th>
      <td><%= @shop.area %></td>
    </tr>
    <tr>
      <th>最寄駅</th>
      <td><%= @shop.station %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%= @shop.tel %></td>
    </tr>
    <tr>
      <th>営業時間</th>
      <td><%= @shop.business_hour %></td>
    </tr>
    <tr>
      <th>定休日</th>
      <td><%= @shop.holiday %></td>
    </tr>
    <tr>
      <th>アクセス</th>
      <td><%= @shop.access %></td>
    </tr>
  </table>
  </div>
</div>
<br>
<br>
<% if logged_in? %>
<%= link_to "編集", edit_shop_path(@shop), class: "btn btn-info edit-btn" %>
<% end %>